DB_HOST=localhost
DB_PORT=3306
DB_USER=your_mysql_user
DB_PASSWORD=your_mysql_password
DB_NAME=your_db_name

AUTH_SECRET=63aadb39c1d7e2fd36472d559b4742507b53855065418169d750a7b55890423c
ADMIN_EMAIL=admin@globalcareerhub.org
ADMIN_PASSWORD=ChangeThisPassword123!

NEXT_PUBLIC_SITE_URL=https://globalcareerhub.org
